@tailwind base;
@tailwind components;
@tailwind utilities;

h1 em {
  @apply relative inline-block not-italic;
}

h1 em::before {
  content: "";
  @apply absolute block w-full left-0 right-0 bottom-0 h-2 md:h-4 lg:h-6 z-0 bg-no-repeat;
  background-image: url(/images/line.svg);
  background-size: 100%;
}

header,
footer {
  align-self: end;
}
